.page {
  height: 100vh;
}

/* Content related styling */
.main-content {
  min-height: 84vh;
}

.main-content-header {
  margin: 30px;
}

.main-content-body {
  margin-bottom: 50px;
}

/* Gallery related styling */
:root {
  --gallery-width: min(1300px, 90vw);
  --pic-width: min(400px, 80vw);
  --pic-margin: 5px;
  --num-pics: 3;
}

div.gallery {
  margin: var(--pic-margin);
  float: left;
  width: calc((var(--gallery-width) / var(--num-pics)) - var(--pic-margin) * 2);
}

div.gallery img {
  width: 100%;
  height: auto;
}

#gallery {
  width: var(--gallery-width);
}

@media (max-width: 1200px) {
  :root {
    --num-pics: 2;
  }
}

@media (max-width: 800px) {
  :root {
    --num-pics: 1;
  }
}
