/* Footer related styling */
#footer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-section {
  padding: 0px 3vw;
}

#footer-middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  font-family: myFirstFont;
}

#footer-contact * {
  color: white;
  font-family: myFirstFont;
  text-decoration: none;
}

#copyright-container {
  margin-top: 5px;
}
#copyright-container * {
  margin: 0px 2px;
}
