@import "../../styles/general";

#app-header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8vh;
}

.spacer {
  flex-grow: 1;
}

#home-button {
  margin: 5px 10vw 5px 10vw;
  font-family: $secondary-font-stack;
}

#home-button * {
  color: $secondary-color;
  text-decoration: none;
}

#right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
  font-family: myFirstFont;
}

#expand-button {
  display: none;
}

#cover {
  width: 100vw;
  height: 100vh;
  background-color: $footer-color;
  display: none;
  position: absolute;
  z-index: 1000;
}

#cover-close {
  position: absolute;
  right: 0px;
}

#cover-close img {
  margin: 20px;
}

@font-face {
  font-family: myFirstFont;
  src: url(../../resources/fonts/Raleway-Regular.ttf);
}

@media only screen and (max-width: 800px) {
  #right-buttons {
    display: none;
  }

  #expand-button {
    display: inline;
    margin-right: 5vw;
  }

  #home-button {
    font-size: 0.7em;
    margin: 5px 5vw;
  }
}

@media only screen and (max-width: 1400px) {
  #right-buttons {
    margin-right: 6vw;
  }

  #home-button {
    margin: 5px 6vw 5px 6vw;
  }
}

@media only screen and (max-width: 1200px) {
  #right-buttons {
    margin-right: 2vw;
  }

  #home-button {
    margin: 5px 2vw 5px 2vw;
  }
}

@media only screen and (max-width: 1000px) {
  #home-button {
    font-size: 0.8em;
  }

  #right-buttons * {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 900px) {
  #home-button {
    font-size: 0.6em;
  }
}
