@import "../../styles/general";

h2 *:hover {
  color: $secondary-color;
}

h2 * {
  color: $secondary-color;
  padding: 10px 20px;
  font-family: myFirstFont;
  font-size: 15px;
  text-decoration: none;
}
.nav-button *:hover {
  color: $hover-color;
}

.menu-button {
  padding: 10px 10px;
  text-align: center;

  * {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  .nav-button * {
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 800px) {
}
